* {
    box-sizing: border-box;
    text-align: center;
    background-color: #35654d;
    width: fit-content;
    margin: auto;
    justify-content: center;
  }
  
  body {
    height: 100vh;
    font-family: sans-serif;
    align-content: center;
  }

  spacing {
    height: 10px;
  }
  
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: hidden;
  padding 2px 2px 2px 2px;
}

#restart-button {
  /*visibility: hidden; */
}

#final-results {
  color: white;
  font-size: 12px;
}
  /* .cpu-card-container {
    justify-content: flex-start;
    border: 4px dotted grey;
    padding: 2px 2px 2px 2px;
  }

  .player-card-container {
    justify-content: flex-end;
    border: 4px dotted grey;
    padding: 2px 2px 2px 2px;
  } */

  button {
    display: flex;
    margin: 10px auto;
    padding: 10px;
    font-size: 12px;
    color: white;
    border-radius: 40px;
    outline: black;
    flex-direction: row;
  }
  
  #hit-button {
    border: 4px solid red;
  }

  #hit-button:hover {
    background-color: red;
    border: 4px solid red;
    color: white;
  }

  #stand-button {
    border: 4px solid blue;
  }

  #stand-button:hover {
    background-color: blue;
    border: 4px solid blue;
    color: white;
  }

  #start-button {
    border: 4px solid green;
  }

  #start-button:hover {
    background-color: green;
    border: 4px solid green;
    color: white;
  }

  h1 {
    color: black;
  }

  #jack {
    color: red;
  }
